@charset "UTF-8";

.hed
{
	background-color:gold;
	height: 60px;
}

div#defu{
	float:left;
	margin:20px;
	font-size:50px;
	margin-top: -0.5px; 
	padding-right:600px;
}

div#fir{
	float: left;
	margin:20px ;
}

div#sec{
	float: left;
	margin:20px ;
}

div#thir{
	float: left;
	margin:20px ;
}

div#for{
	float: left;
	margin:20px ;
}

div#fiv{
	float: left;
	margin:20px ;
}

div#six{
	float: left;
	margin:20px ;
}

div#sev{
	float: left;
	margin:20px ;
}

main{
	background-color:rgb(255, 255, 255);
	height: 600px;
}

div#qq{
	height: 220px;
	width: 220px;
	float:left;
	margin:20px;
	margin-right:600px;
}

button{
	background-color:aquamarine;
}

img{
	max-width: 100%;
	max-height: 100%;
	height: 220px;
	width: 220px;
}


div#ww{
	
	height: 220px;
	width:220px;
	float:left;
	margin:20px;
	margin-left:-460px;
}

div#ee{

	height:220px;
	width:220px;
	float:left;
	margin:20px;
	margin-left:-100px;
}

.jak{
	margin-left: 130px;
}

div#aa{
	padding-top:30px;
	margin-left:980px;
	}

div#bb{
	padding-top:40px;
	margin-left:980px;	
}

div#cc{
	padding-top:40px;
	margin-left:980px;
}

div#dd{
	padding-top:40px;
	margin-left:980px;
}

div#ff{
	padding-top:40px;
	margin-left:980px;
}

div#gg{
	padding-top:40px;
    margin-left:980px;
}

div#hh{
	padding-top:40px;
	margin-left:980px;
}

div#ii{
	padding-top:40px;
	margin-left:980px;
}

div#jj{
	padding-top:40px;
	margin-left:980px;
}

div#rr{
	
	height: 220px;
	width:220px;
	float:left;
	margin:20px;
	margin-right:600px;
	margin-top: -220px;
}

div#tt{
	
	height: 220px;
	width:220px;
	float:left;
	margin:20px;
	margin-left:-460px;
	margin-top: -220px;
}

div#yy{
	height:220px;
	width:220px;
	float:left;
	margin:20px;
	margin-left:-100px;
	margin-top: -220px;
}


footer{
	background-color:black;
	height:70px;
	margin-top:-30px;
	padding-left: 600px;
}

div#last1{
	float: left;
	margin:40px;
}



table
{
	background-color: aliceblue;
	border-radius: 3px;
	border-color:crimson;
	border-style:groove;
	border-width: 3px;
}


.tab{
	position: absolute;
	left:630px;
	top:300px;
}