@charset "UTF-8";

.hed

{
	background-color:gold;
	height: 60px;
	font-size:45px;	
}

.hed2{
	background-color:antiquewhite;
	height:50px;
	margin-top: 0px;
}

div#em{
	float: left;
	margin: 280px;
}

div#fir{
	float: left;
	margin: 20px;
	font-size: 20px;	
}

div#em1{
	float: left;
	margin: 130px;
}

div#sec{
	float: left;
	margin: 20px;
}

div#thir{
	float: left;
	margin: 20px;
}

button{
	background-color:aquamarine;
	
}

main{
	background-color:rgb(255, 255, 255);
	height: 550px;
}

footer{
	background-color:black;
	height:70px;
	margin-top:-30px;
	padding-left: 600px ;

}

div#last1{
	float: left;
	margin:40px;
}



table
{
	background-color: aliceblue;
	border-radius: 3px;
	border-color:crimson;
	border-style:groove;
	border-width: 3px;
}


.tab{
	position: absolute;
	left:630px;
	top:300px;
	
}